ul.timeline {
    list-style-type: none;
    background: url("/timeline/img/version_line.png") repeat-y scroll 120px 0
        transparent;
    margin: 50px 50px;
    padding: 0;
}

ul.timeline li {
    position: relative;
    margin-bottom: 20px;
}

ul.timeline li .date {
    position: absolute;
    width: 120px;
    text-align: right;
    left: -30px;
    top: 5px;
    color: #999;
}

ul.timeline li .time {
    position: absolute;
    width: 290px;
    text-align: right;
    left: -200px;
    top: 20px;
    font-size: 20px;
    line-height: 50px;
    color: #700E1E;
    overflow: hidden;
}

ul.timeline li .number {
    position: absolute;
    background: url("/timeline/img/version_dot.png") no-repeat scroll 0 0
        transparent;
    width: 56px;
    height: 56px;
    left: 97px;
    line-height: 56px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

ul.timeline li.alt .number {
    background-image: url("/timeline/img/version_dot_alt.png");
}

ul.timeline li .content {
    margin-left: 180px;
}

ul.timeline li .content article {
    background-color: #CCCCCC;
    padding: 20px;
    color: #141314;
    font-size: 13px;
    line-height: 20px;
}

ul.timeline li.alt .content article {
    background-color: #43B1F1;
}

article .timeline-title {
    margin-bottom: 10px;
    border-bottom: 2px solid #857A7A;
    font-size: 17px;
    line-height: 24px;
}

.btn {
    display: inline-block;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #BBD631;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
}

.sub-title {
    font-size: 20px;
    margin: 30px 200px;
}

ul.item-list {
    padding: 0;
}

ul.item-list li {
    font-size: 20px;
    text-align: center;
    list-style: none;
}

ul.item-list a:link,ul.item-list a:visited,ul.item-list a:active {
    display: block;
    color: #5FB7E9;
    text-decoration: none;
    line-height: 36px;
    height: 36px;
    -webkit-transition: background 500ms ease-in-out 0ms, color 500ms
        ease-in-out 0ms;
    -moz-transition: background 500ms ease-in-out 0ms, color 500ms
        ease-in-out 0ms;
    -ms-transition: background 500ms ease-in-out 0ms, color 500ms
        ease-in-out 0ms;
    -o-transition: background 500ms ease-in-out 0ms, color 500ms ease-in-out
        0ms;
    transition: background 500ms ease-in-out 0ms, color 500ms ease-in-out
        0ms;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

ul.item-list a:hover,ul.item-list a:focus {
    outline: none;
    color: white;
    background: #BBD631;
    -webkit-transition: background 250ms ease-in-out 0ms, color 250ms
        ease-in-out 0ms;
    -moz-transition: background 250ms ease-in-out 0ms, color 250ms
        ease-in-out 0ms;
    -ms-transition: background 250ms ease-in-out 0ms, color 250ms
        ease-in-out 0ms;
    -o-transition: background 250ms ease-in-out 0ms, color 250ms ease-in-out
        0ms;
    transition: background 250ms ease-in-out 0ms, color 250ms ease-in-out
        0ms;
}

.top-fixed {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    position: fixed;
    height: 30px;
    width: 100%;
    top: 0;
    background-color: rgb(201, 190, 190);
    z-index: 2;
}

.top-fixed:hover {
    cursor: pointer;
    background-color: rgb(235, 193, 193);
}

.top2-fixed {
    top: 26px;
    background-color: rgb(114, 107, 107);
}
p {
    margin: 0 0 10px;
}

textarea#addevent_content {
    margin: 0;
    padding: 0;
    max-width: 532px;
    min-width: 532px;
    max-height: 300px;
}

