
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

#channel {
	height: 22px;
	overflow: hidden;
	position: relative;
}

#channel .pager {
	color: #333;
	font-family: Arial;
	font-size: 14px;
	left: 50%;
	margin-left: -24px;
	position: absolute;
	top: 3px;
}


#channel .pager span {
	margin: 0 3px;
}

#channel .func {
	font-size: 15px;
	position: absolute;
	right: 18px;
	top: 0;
}

#channel .func a {
	display: inline-block;
	height: 23px;
	margin-left: 4px;
	overflow: hidden;
	width: 35px;
}

#channel .func .hide {
	background-position: -200px -40px;
}

#channel .func .show:active {
	background-position: -240px -100px;
}

#channel .func .show:hover {
	background-position: -240px -70px;
}

#channel .func a:active {
	background-position: -160px -100px;
}

#channel .func a:hover {
	background-position: -160px -70px;
}

#channel .func .show {
	background-position: -240px -40px;
}


#channel_nav {
	font-size: 0;
	height: 87px;
	text-align: center;
	white-space: nowrap;
}

#channel_nav .prev {
	margin-right: 30px;
}
